# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Remove this line - it ignores your entire expo app
# expo-app/

# Specific directories to ignore
expo-chat-app-not-working/
expo-app/.expo/
expo-app/node_modules/
expo-app/.env
expo-app/dist/
expo-app/web-build/

nextjs-app/.next/
nextjs-app/node_modules/
nextjs-app/out/
nextjs-app/.env
nextjs-app/.env.local

server/node_modules/
server/.env
server/dist/

# Build outputs
dist-ssr
*.local
frontend/dev-dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables (global)
.env
.env.local
.env.production

git init
git add .
git remote add origin https://github.com/zakari90/whatsappclone-node-expo-nextjs.git
git commit -m "first commit"
git branch -M main
git push -u origin main