# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
backend/node_modules
node_modules
frontend/node_modules
frontend/dist

expo-chat-app-not-working
expo-app/.expo
expo-app/node_modules
expo-app/.env
next-app/.next
next-app/node_modules
server/node_modules
server/.env


dist-ssr
*.local
frontend/dev-dist
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
